<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Kelsey Osos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="/projects" class="nav-item nav-link">Projects</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/experience" class="nav-item nav-link">Experience</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/contact" class="nav-item nav-link">Contact Me</a>
      </li>
    </ul>
  </div>
</nav>