@import '../_variables.scss';
@import '../app.component.scss';

h3 {
  color: $primary-color;
}

h4 {
  background-color: $primary-color;
  color: $secondary-color;
  cursor: pointer;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
