<h1>About Me</h1>
<div class="row">
  <div class="col col-m-4">
    <img [src]="profilePictureUrl">
  </div>
  <div class="col col-m-8">
    <p>A proven leader, enthusiastic developer and avid learner based in Dublin, Ireland until July 2020.
    </p>
    <p>
      After graduating in 2011 with a bachelor's degree in music, 
      I worked in the audio visual industry for five years. During this time I held numerous positions, 
      sometimes in leadership roles, as part of a small team working to quickly accomodate client requests.
    </p>
    <p>
      I soon decided I wanted to accomplish more, and moved to Dublin, Ireland to pursue a 
      degree in computer science at University College Dublin. I will be graduating in the 
      summer of 2020 and moving to the east coast of the United States to work as a software engineer.
    </p>
    <p>
      In my studies at UCD, I've mainly focused on machine learning and web applications. From a language
      standpoint the program is primarily focused around Java, with occasional detours into others like Python, Ruby and C. 
      However, I have worked to obtain significant extracurricular experience in other technologies. 
      My main focus has been on learning JavaScript with Node.js, Angular and React Native, though in 
      my final year I will be devoting my time to machine learning with Python and TensorFlow 2.
    </p>
  </div>
</div>